@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto-regular.woff2') format('woff2'),
       url('../fonts/roboto-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto-medium.woff2') format('woff2'),
       url('../fonts/roboto-medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}


:root {
  --color-background: #e5e5e5;
  --color-border: #ebebf1;
  --color-search-text: #bbc4d6;
  --color-title: #121920;
  --color-anchor: #768298;
}

* {
  box-sizing: border-box;
}

html {
  font-family: Roboto;
  letter-spacing: 0.01em;
}

a {
  text-decoration: none;
  color: var(--color-anchor);
}

h1{
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  max-width: 1440px;
  padding: 0 9.375%;
}

/* Header */
.header{
  margin-bottom: 70px;
}

.header__container {
  display: flex;
  align-items: center;
  height: 79px;
  border-bottom: 1px solid var(--color-border);
}

.header__logo {
  margin-right: 5.21%;
}

.header__search {
  position: relative;
  width: 65.2%;
  height: 40px;
  margin-top: 20px;
  margin-right: 60px;
  border: 1px solid var(--color-border);
  border-radius: 5px;
  background: #fff;
}

.header__search_under{
  display: none;
}

.search__input, .search__btn {
  border: none;
  outline: none;
  background: transparent;
}

.search__input {
  width: 100%;
  height: 100%;
  padding-left: 37px;
  
  font-size: 14px;
  font-weight: 400;
}

::-webkit-input-placeholder {color: var(--color-search-text);}
  ::-moz-placeholder          {color: var(--color-search-text);}
  :-moz-placeholder           {color: var(--color-search-text);}
  :-ms-input-placeholder      {color: var(--color-search-text);}

.search__btn {
  position: absolute;
  width: 40px;
  height: 40px;
  padding: 0;
  cursor: pointer;
}

.profile {
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: auto;
  padding-left: 19px;
  border-left: 1px solid var(--color-border);
}

.profile__username {
  margin-right: 10px;
  font-size: 14px;
  font-weight: 400; 
}

.profile__icon{
  display: none;
}

.profile__avatar {
  border-radius: 8px;
}

/* Section Partners */

.partners{
  margin-bottom: 392px;
}

.partners__title {
  margin-bottom: 30px;
  color: var(--color-title);
  font-size: 36px;
  font-weight: 500;
  line-height: 1.6;
  text-transform: uppercase;
}

.cards-list {
  display: flex;
  flex-wrap: wrap;

}

.cards-list__item {
  max-width: 270px;
  width: 23.07%;
  height: 120px;
  margin-right: 2.56%;
  margin-bottom: 30px;
  padding: auto;
  border: 1px solid var(--color-border);
  border-radius: 5px;
  cursor: pointer;
}

.cards-list__item:nth-child(4n) {
  margin-right: 0;
}

.cards-list__item:nth-last-child(-n+4) {
  margin-bottom: 0;
}

.cards-list__image {
  width: 100%; 
  height: 100%;
  object-fit: contain;
  object-position: center center;
}

@media (max-width:768px) {
  
  .container {
    padding: 0 20px;
  }
  
  .header__logo {
    margin-right: 6.87%;
  }

  .partners{
    margin-bottom: 399px;
  }

  .partners__title{
    font-size: 28px;
  }

  .cards-list__item {
    width: 31.45%;
    margin-right: 2.7%;
  }
  .cards-list__item:nth-child(4n) {
    margin-right: 2.7%;
  }
  
  .cards-list__item:nth-last-child(-n+4) {
    margin-bottom: 20px;
  }

  .cards-list__item:nth-child(3n) {
    margin-right: 0;
  }
  
  .cards-list__item:nth-last-child(-n+3) {
    margin-bottom: 0;
  }
}

@media (max-width:510px) {
  .header__container{
    height: 80;
    border-bottom: none;
  }

  .header__search {
    display: none;
  }

  .header__search_under{
    display: block;
    width: 100%;
    height: 41px;
    margin-top: 0;
    border-radius: 0;
    border-bottom: none;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.05);
  }
}

@media (max-width: 375px) {
 
  .container {
    padding: 0 20px;
  }

  .header__container{
    height: 63px;
  }

  .header__logo {
    height: 30px;
    margin-left: 3px;
  }
  
  .search__btn {
    padding-left: 20px;
  }
  
  .search__input {
    padding-left: 48px;
  }


  .profile {
    border: none;
  }
  .profile__username, .profile__avatar {
    display: none;
  }
  .profile__icon {
    display: block;
    margin-top: 5px;
  }

  .partners{
    margin-bottom: 73px;
  }

  .partners__title{
    margin-bottom: 32px;
  }

  .cards-list__item {
    max-width: 335px;
    width: 100%;
    height: 140px;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .cards-list__item:nth-child(4n) {
    margin-right: 0;
  }
  
  .cards-list__item:nth-last-child(-n+4) {
    margin-bottom: 20px;
  }

  .cards-list__item:nth-child(3n) {
    margin-right: 0;
  }
  
  .cards-list__item:nth-last-child(-n+3) {
    margin-bottom: 20px;
  }

  .cards-list__item:nth-last-child(1) {
    margin-bottom: 0;
  }
}